<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- URL Rewriting -->
        <rewrite>
            <rules>
                <!-- Remove trailing slashes -->
                <rule name="Remove trailing slash" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
                
                <!-- Rewrite to index.html -->
                <rule name="Rewrite to index.html" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>

        <!-- Static Content Compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <!-- MIME Types -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
            <mimeMap fileExtension=".otf" mimeType="application/font-otf" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>

        <!-- Cache Policy -->
        <caching>
            <profiles>
                <add extension=".html" policy="CacheUntilChange" />
                <add extension=".css" policy="CacheForTimePeriod" duration="00:30:00" />
                <add extension=".js" policy="CacheForTimePeriod" duration="00:30:00" />
                <add extension=".jpg" policy="CacheForTimePeriod" duration="30.00:00:00" />
                <add extension=".png" policy="CacheForTimePeriod" duration="30.00:00:00" />
                <add extension=".gif" policy="CacheForTimePeriod" duration="30.00:00:00" />
            </profiles>
        </caching>

        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>

        <!-- Request Filtering -->
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".json" allowed="false" />
                    <add fileExtension=".md" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
